/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: antiquewhite;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sketchpad {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 2px solid black;
}

.sketchpad-pixel {
    width: calc(600px / var(--grid-size));
    height: calc(600px / var(--grid-size));
    background-color: white;
    border: 1px solid rgb(252, 204, 141);
    box-sizing: border-box;
}

.controls {
    margin-bottom: 10px;
    /* padding: 5px; */
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clear-btn {
    width: 20%;
}

#slider-container {
    width: 100%;
    margin-top: 8px;
}

#slider {
    /* -webkit-appearance: ; */
    appearance: none;
    height: 24px;
    width: 100%;
    background: rgb(211, 255, 240);
    outline: none;
    transition: opacity .4s;
    border-radius: 4px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 22px;
    background: rgb(1, 243, 162);
    cursor: pointer;
    /* border-radius: 5px; */
    /* border: 2px solid darkred; */
}

/* Style for Firefox */
.slider::-moz-range-thumb {
    width: 25px;
    height: 22px;
    background: rgb(1, 243, 162);
    cursor: pointer;
    /* border-radius: 5px; */
    /* border: 2px solid darkred; */
}


#slider-value {
    background-color: blueviolet;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    padding: 4px;
    font-family: JetBrains Mono, monospace;
    font-size: medium;
}